.container{
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 840px;
}

.photoBlock{
    margin-bottom: 10px;
}

.topic{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2px;
}

.price{
    font-size: 16px;
    font-weight: 500;
    color: #888;
    margin-bottom: 8px;

}

.material{
    font-size: 16px;
    margin-bottom: 5px;

}

.size{
    font-size: 16px;
}

.buyButton{
    margin-top: 15px;
}

.buyButton button{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    height: 44px;
    width: 100%;
    
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    background: white;


}

@media(min-width: 561px){
    .container{
        flex-direction: row;
        
    }
    .photoBlock{
        margin-bottom: 0;
        padding-right: 10px;
        width: 50%;
     
    }
    .descriptionBlock{
        width: 50%;
        padding-left: 10px;
    }
}

@media(min-width: 1024px){
    .container{
        max-width: 780px;
    }
}