.contacts_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contacts_wrapper div{
    margin-bottom: 10px;
}

h3{
    text-align: center;
    margin-bottom: 5px;
}

/* .contacts_wrapper div{
    display:flex;
    justify-content: center;
    align-items: center;
} */
p{
    text-align: center;
    margin: 0;
}

/* a{
    text-decoration: none;
} */


/* .email a{
    text-decoration: none;
}

.phone a{
    text-decoration: none;
} */