
.image-gallery-custom-button {
    z-index: 0;
  }
  
  
  .custom-left-nav-button {
    
  }
  

  .custom-right-nav-button {
    
  }
  
 
  .custom-button-container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }