.container{
        display: grid;
        grid-template-columns: 1fr; /* Один столбец */
        gap: 10px; /* Расстояние между элементами */
      
}

@media(min-width: 560px){
    .container{
        grid-template-columns: repeat(2, 1fr); 
    }
}