
.container{
   
  background-color: #FFFFFF;
  position: sticky;
  top: 0px;
  z-index: 5;
  
 
  
}

.navDesktop{
  display: none;
}


.navMobile{
 
  max-width: 100%;
  padding: 20px 18px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  border-bottom: 1px solid #B0BEC5;
}

.burgerButton{
  
  border: none;
background: none;
padding: 0;
cursor: pointer;
}

.languageButton{
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  width: 30px;
  font-family: 'Montserrat';
  color: black;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;


}

.logo{
  width: 150px;
  height: auto;
}
.cart{
  width: 20px;
}
.burger{
  width: 20px;
}



@media(min-width: 768px){
  .logo{
    width: 190px;
  }
}

@media(min-width: 1024px){
  .navMobile{
    display: none;
  }
  .navDesktop{
    max-width: 100%;
    padding: 24px 18px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid #B0BEC5;
  }
}