/* .navbarWrapper {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
   

    background-color: white;
    overflow: hidden;
} */

.container{
    border: 1px solid black;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
}

.closeButton {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;

}

.closeButton img {
    width: 20px;
}

.NavbarBlock {
  
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.NavbarBlock div{
    margin-bottom: 15px;
    
}

.shopMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(min-width: 1024px){
    .closeButton{
        display: none;
    }

    .container {
        position: absolute;
        top: 180px;
        left: 20px;
        /* width: 230px;
        min-height: 200px;
         */
        
    }
    .NavbarBlock {
  
        position: static;
        /* display: flex;
        flex-direction: column; */
        align-items:start ;
        /* top: 15%;
        left: 35%; */
        transform: translate(0, 0);
    }

    .shopMenu{
        align-items: start;
    }

    

}